/* _____________Google Work sans Fonts link__________ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/* __________Basic setup______________ */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-size:4rem;
    font-weight: 700;
}
h2{
    font-size:2.8rem;
    color:#131313;
    font-weight: 700;
}
h4{
    font-size: 1.25rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    margin:32px 0;
    line-height: 26px;
    color:#727272;
}
a{
    text-decoration: none;
    color:#424242;
}
ul{
    list-style-type: none;
}
.btn{
    font-size: 1.25rem;
    font-weight: 600;
    background:#FF900E;
    color:#ffff;
    border-radius: 8px;
    padding:20px 25px;
    border:none;
    width:180px;
    cursor: pointer;
}
.container{
    max-width: 75%;
    max-width:1440px;
    margin:auto;
    padding:0 20px;
}
/* ____________Here is header section_____________ */
header{
    background: rgba(255, 144, 14, 0.10);
    padding-bottom:45px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:30px 0;
}
nav > ul{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
}
header .banner{
    margin-top:100px;
}
header .banner .banner-text{
    text-align: center;
    width:60%;
    margin:auto;
}
header .banner .banner-img{
    margin-top:50px;
}
header .banner .banner-img img{
    width:100%;
    border-radius: 10px;
}
/* ________Here is features section___________ */
#features{
    padding:85px 0 130px 0;
}
.features-elements{
    display: flex;
    align-items: center;
    padding:0 60px;
    gap: 73px;;
}
#features .img-gallery{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    gap:24px;
}
#features .img-gallery img{
    width:100%;
    height: 100%;
}
#features .features-title{
    width:70%;
}
#features .features-title span:nth-child(1){
    color:#727272;
    font-weight: 500;;
}
#features .features-title span:nth-child(2){
    color:#FF900E;
}
#features .features-description{
    width:90%
}
/* _________Here is love section style___________ */
#love{
    padding-bottom:150px;
}
#love .love-elements{
    display: flex;
    gap:100px;
}
#love .love-content{
    width:40%;
}
#love .love-title{
    width:70%;
    padding-left:21px;
    border-left:5px solid #FF900E;
}
#love .love-card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding:20px;
    margin-bottom:20px;
}
#love .card-description{
    margin: 10px 0;
}
#love .experience{
    background-color: #FF900E;
    color:#fff;
    padding:40px;
    text-align: center;
    width:300px;
    border-radius: 8px;
    position: relative;
    left: -82px;
    bottom: 80px;
}
#love .love-img h2{
    color:#fff;
}
#love .love-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* __________Here is fact style________ */
#fact {
    padding-bottom:100px;
}
#fact .fact-description{
    margin: 12px 0;
    width:40%;
}
#fact .fact-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:50px;
    margin-top: 100px;
    padding:0 80px;
}
#fact .fact-card h2{
    color:#424242;
    font-weight: 600;
    margin: 15px 0;
}
#fact .fact-card h4{
    color:#727272;
}
#fact .fact-card-item{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:35px;
}
/* __________Here is sponsors section style__________ */
#sponsors{
    padding-bottom:100px;
}
#sponsors .sponsors-content{
    width:40%;
    margin:auto;
    text-align: center;
}
#sponsors .sponsors-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 50px;
}
#sponsors .sponsors-company img{
    margin: auto;
}
/* _________Here is footer section__________ */
footer{
    padding-bottom: 120px;
}
footer .copy-right{
    background:#FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding:5px 0;
}


















